* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2em;
  font-family: 'Readex Pro', sans-serif;
}

.submitForm {
  margin: 25px auto;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.formGroupContainer1, .formGroupContainer2 {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formButtonGroup {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chartOne{
  margin: 0 auto;
}

input, select {
  padding: 5px;
  margin-left: 50px;
  width: 150px;
  text-align: center;
}

.button {
  border-radius: 18px;
  border-style: none;
  color: #eee;
  padding: 10px 25px;
  margin-top: 15px;
  width: 100%;
  font-weight: bold;
  font-size: .8em;
}

.submitButton {
  background-color: #65cbe9;
}

.clickButton {
  background-color: #6c8dfa;
}

.chartGroup {
  width: 80%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chartTwo {
  margin-top: 70px;
}

h1 {
  margin-bottom: 50px;
  text-align: center;
}
